<div class="container" style="padding: 10px; align-self: center">
  <div class="portfolio-container text-center">
    <div class="portfolio-header" style="padding: 10px; align-self: center">
      <img src="../assets/images/portLogo.png" alt="Logo" class="portfolio-logo">
      <h2 class="portfolio-title">My Portfolio</h2>
    </div>
    <nav class="portfolio-nav">
      <a class="portfolio-link" routerLink="aboutus">About Us</a>
      <a class="portfolio-link" routerLink="contactus">Contact Us</a>
      <a class="portfolio-link" routerLink="feedback">Feedback</a>
      <a class="portfolio-link" routerLink="login">Login</a>
    </nav>
    <hr class="portfolio-divider" />
    <router-outlet></router-outlet>
  </div>
</div>